{% extends "doctor.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{{ super() }}
<style>

</style>
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}


{% block content %}

    <div class="col-md-10">
        <table class="table table-striped">
            <caption>已处理队列</caption>
            <thead>
            <tr>
                <th>患者名字</th>
                <th>性别</th>
                <th>电话</th>
                <th>会诊状态</th>
            </tr>
            </thead>
            <tbody>
            {% for regi in registrations %}
            <tr>
                <td>{{ regi.patient.name }}</td>
                <td>{{ regi.patient.gender }}</td>
                <td>{{ regi.patient.phone }}</td>
                <td>完成</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.handled_patient_list') }}
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}