
{% extends "admin.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{{ super() }}
<style>

</style>
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}


{% block content %}

    <div class="col-md-10">
        <table class="table table-striped">
            <caption>挂号员列表</caption>
            <thead>
            <tr>
                <th>名字</th>
                <th>工号</th>
                <th>身份证</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for registrar in registrars %}
            <tr>
                <td>{{ registrar.name }}</td>
                <td>{{ registrar.workcard }}</td>
                <td>{{ registrar.idcard }}</td>
                <td>
                    <a href="javascript:deleteregistrar({{registrar.id}})" class="btn btn-danger" role="button" id="deletedoctor">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.registrar_list') }}
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block script %}
{{ super() }}
    <script>
        function deleteregistrar(registrarid) {
            var data={"registrarid": registrarid}

            $.ajax({
                type: 'POST',
                url: "{{ url_for('main.delete_registrar') }}",
                data: data,
                dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据
                success: function(data) {
                    window.location.reload()
                },
                error: function(xhr, type) {
                    alert('something wrong')
                }
            });
        }
    </script>
{% endblock %}